## Pair Programming ETL Carga I

In [1]:
import pandas as pd
import mysql.connector

Cread la BBDD con el nombre de energ칤a. 

La BBDD tendr치 la siguiente forma:

Cread las tablas de la BBDD:

- Tabla fechas
- Tabla nacional_renovable_no_renovable
- Tabla comunidades_renovable_no_renovable
- Tabla comunidades

Al final nuestra BBDD tendr치 el siguiente aspecto:

In [2]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab", # aqu칤 tendr칠is que poner vuestra contrase침a de MySQL
      auth_plugin = 'mysql_native_password') # esta l칤nea no es necesaria solo lo tendr칠is que incluir si os sale el siguiente error: Authentication plugin 'caching_sha2_password' is not supported
    print("Conexi칩n realizada con 칠xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [3]:
crear_bbdd('energia')

Conexi칩n realizada con 칠xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS energia;

In [4]:
def crear_insertar_tabla(nombre_bbdd, contrase침a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase침a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}",  
                                     auth_plugin = 'mysql_native_password')
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
query = '''CREATE TABLE IF NOT EXISTS `energia`.`fechas` (
  `idFechas` INT NOT NULL AUTO_INCREMENT,
  `fecha` DATETIME NOT NULL,
  PRIMARY KEY (`idFechas`),
  UNIQUE INDEX `idFechas_UNIQUE` (`idFechas` ASC) VISIBLE)
ENGINE = InnoDB;'''

In [6]:
crear_insertar_tabla('energia', 'AlumnaAdalab', 'query')

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1

In [7]:
query ='''CREATE TABLE IF NOT EXISTS `energia`.`comunidades` (
  `idcomunidades` INT NOT NULL,
  `comunidad` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB;'''

In [8]:
crear_insertar_tabla('energia', 'AlumnaAdalab', 'query')

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1

In [9]:
query = '''CREATE TABLE IF NOT EXISTS `energia`.`nacional_renovable_no_renovable` (
  `idnacional_renovable_no_renovable` INT NOT NULL,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` VARCHAR(45) NOT NULL,
  `fechas_idFechas` INT NOT NULL,
  PRIMARY KEY (`idnacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_fechas1_idx` (`fechas_idFechas` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_fechas1`
    FOREIGN KEY (`fechas_idFechas`)
    REFERENCES `energia`.`fechas` (`idFechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;'''

In [10]:
crear_insertar_tabla('energia', 'AlumnaAdalab', 'query')

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1

In [11]:
query = '''CREATE TABLE IF NOT EXISTS `energia`.`comunidades_renovable_no_renovable` (
  `idcomunidades_renovable_no_renovable` INT NOT NULL,
  `Porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` VARCHAR(45) NOT NULL,
  `fechas_idFechas` INT NOT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  PRIMARY KEY (`idcomunidades_renovable_no_renovable`),
  INDEX `fk_comunidades_renovable_no_renovable_fechas1_idx` (`fechas_idFechas` ASC) VISIBLE,
  INDEX `fk_comunidades_renovable_no_renovable_comunidades1_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_fechas1`
    FOREIGN KEY (`fechas_idFechas`)
    REFERENCES `energia`.`fechas` (`idFechas`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_comunidades1`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `energia`.`comunidades` (`idcomunidades`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;'''

In [12]:
crear_insertar_tabla('energia', 'AlumnaAdalab', 'query')

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'query' at line 1

''' revisar los csv '''

In [13]:
df_nacional = pd.read_csv('datos/tipos_energia.csv', index_col = 0)
df_ccaa = pd.read_csv('datos/energia_comunidades.csv', index_col = 0)
df_comunidades = pd.read_csv('datos/poblacion_comunidades.csv', index_col = 0)

In [14]:
display(df_comunidades.head(2))
display(df_nacional.head(2))
display(df_ccaa.head(2))

  Comunidad  indice Comunidades_y_Ciudades_Aut칩nomas   A침o   Total
0     Ceuta    8744                            Ceuta  2022  83.117
1     Ceuta    8744                            Ceuta  2021  83.517

          value  percentage                       datetime  tipo_energia
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00     Renovable
1  1.926868e+08    0.689759  2011-01-01T00:00:00.000+01:00  No renovable

,value,percentage,datetime,tipo_energia,comunidad,cod_comunidad
0,202972.8930,1.000000,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,8744
1,3589.0825,0.016703,2011-01-01T00:00:00.000+01:00,Renovable,Melilla,8745

BONUS Insertar los datos en las tablas.
游늷 Nota Esta parte del pair es optativa y no ser치 considerada para la evaluaci칩n

In [15]:
def check_comunidades(contrase침a, nombre_bbdd):
    
    cnx = mysql.connector.connect(user='root', password=f'{contrase침a}',
                                  host='127.0.0.1', database=f"{nombre_bbdd}",  auth_plugin = 'mysql_native_password')
    mycursor = cnx.cursor()


    query_existe_comunidad = f"""
            SELECT DISTINCT comunidad FROM comunidades
            """
    mycursor.execute(query_existe_comunidad)
    comunidades = mycursor.fetchall()
    return comunidades

In [16]:
check_comunidades("AlumnaAdalab", "energia")

[]

In [17]:
for indice, fila in df_comunidades.iterrows():
    
    # creamos la query que no inserta datos en la tabla localidades
    query_comunidades = f"""
                INSERT INTO comunidades (comunidad) 
                VALUES ( "{fila["Comunidad"]}");
                """  
    
    comunidades = check_comunidades("AlumnaAdalab", "energia")
    
    if len(comunidades) == 0 or fila['Comunidad'] not in comunidades[0]: 
        crear_insertar_tabla('energia', 'AlumnaAdalab', query_comunidades)

    else:
        print(f"{fila['Comunidad']} ya esta en nuestra BBDD")

1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value
1364 (HY000): Field 'idcomunidades' doesn't have a default value
Error Code: 1364
SQLSTATE HY000
Message Field 'idcomunidades' doesn't have a default value

KeyboardInterrupt: